.centres-container {
  background: #f8f8f8;
}

.centres-title {
  font-weight: 700;
  font-size: 32px;
  color: #4a0905;
}

/* Card design */
.centre-card {
  background: #fff;
  border-radius: 3px;
  padding: 12px 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
  height: 78px;
}

.centre-card:hover .centre-img {
  transform: scale(1.30);
  /* box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15); */
}
.centre-card:hover .img-wrapper {
  transform: scale(1.15);
  /* box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15); */
}

.img-wrapper {
  padding: 5px;
  width: 70px;
  height: 65px;
  border-radius: 6px;
  overflow: hidden;  /* IMPORTANT */
  transition: transform 0.8s ease; /* Smooth zoom */
}

/* Centre image */
.centre-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  /* Smooth zoom */
  transition: transform 0.8s ease; 
}

/* Centre name text */
.centre-name {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .centre-card {
    flex-direction: row;
  }
}
