
.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #4a0905;
}

.batch-tabs .tab {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
  color: #555;
}

.batch-tabs .active {
  color: #6c63ff;
  border-bottom: 2px solid #6c63ff;
}

.batch-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: 0.35s ease;
  border-radius: 2px solid black !important;
}

/* Hover Animation */
/* .batch-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
} */

.online-tag {
  /* position: absolute;
  top: 12px;
  left: 12px;
  background: #4f46e5;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px; */

    width: 100px !important;
    position: absolute !important ;
    top: -3px;
    left: -5px !important;
    height: 2.5rem;
    z-index: 100;
}

.online-img {
  width: 100%;
  height: 50px;
}

.card-img-top {
  padding: 1rem;
  width: 100%;
  height: 220px;
  object-fit: cover;
  background-color: #4a0905;
  border-start-end-radius: 10px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  color: #4a0905 !important;
}
.card-body {
  background-color: #c2c2c2;
}

.lang-tag {
  background: #eee;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.desc {
  color: #777;
  font-size: 14px;
}

.dates {
  font-size: 13px;
  color: #444;
}

.new-price {
  font-size: 22px;
  font-weight: 700;
  color: #4a0905;
}

.old-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
}

.explore-btn {
  background: #f3f4f6;
  color: #4a0905;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;
}

.buy-btn {
  background: #4a0905;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
}

.view-all-btn {
  background: #4a0905;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* Slider Arrows */
.custom-arrow {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 40%;
  z-index: 20;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-arrow i {
  font-size: 22px;
  color: #000;
}

.swiper-button-prev {

  /* left: -45px !important; */
  left: 0px !important;
}

.swiper-button-next {

  /* right: -45px !important; */
  right: 0px !important;
}

/* Hide default Swiper arrows */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}


.slider-wrapper .swiper-button-next,
.slider-wrapper .swiper-button-prev {
  width: 30px !important;   /* Change width */
  height: 30px !important;  /* Change height */
  background-color: #fff;   /* Optional */
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}