
.slider-container {
    background-color: pink;
  position: relative;
  width: 100%;
  /* max-width: 700px;    */
  margin: auto;
  overflow: hidden;
}

/* Scroll area */
.image-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.image-slider::-webkit-scrollbar {
  display: none;
}

/* Each item takes full container width */
.slide-item {
  min-width: 100%;        /* SHOW ONLY ONE IMAGE */
  height: 350px;          /* Adjust height */
  scroll-snap-align: center;
  position: relative;
}

.slide-item img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* border-radius: 12px; */
}

/* Buttons */
.slider-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.slider-btn:hover {
  opacity: 1;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}
